<section class="services">
   <div class="container services__container">
      <h3 class="services__title title">Рейтинг онлайн-сервисов для поиска и проверки задолженностей</h3>
      <ul class="services__list">
         <li class="services__item">
            <div class="card-service">
               <div class="card-service__logo">
                  <img src="assets/img/icon_1.png" alt="fssp-logo">
               </div>
               <div class="card-service__titles">
                  <h4 class="card-service__title">ФССП России</h4>
                  <span class="card-service__sub-title">Федеральная служба судебных приставов</span>
               </div>
               <p class="card-service__text">Официальный сайт Федеральной службы судебных приставов России.
               Проверка задолженностей осуществляется исключительно по официальной базе,
               но может потребовать ввода большей информации чем другие аналогичные сервисы.</p>
               <a href="#" class="card-service__button button">
                  <span>Перейти на сайт</span>
               </a>
            </div>
         </li>
         <li class="services__item">
            <div class="card-service">
               <div class="card-service__logo">
                  <img src="assets/img/icon_2.png" alt="nalog-logo">
               </div>
               <div class="card-service__titles">
                  <h4 class="card-service__title">Nalog</h4>
                  <span class="card-service__sub-title">Сайт налоговой службы РФ</span>
               </div>
               <p class="card-service__text">Онлайн-сервис “Заплати налоги” на официальном сате налоговой инспекции России.Здесь как физические так и юридические лица могут заплатить налоги и пошлины. Задолженности можно узнать при наличии личного кабинета налогоплательщика.</p>
               <a href="#" class="card-service__button button">
                  <span>Перейти на сайт</span>
               </a>
            </div>
         </li>
         <li class="services__item">
            <div class="card-service">
               <div class="card-service__logo">
                  <img src="assets/img/icon_3.png" alt="Rudolgi-logo">
               </div>
               <div class="card-service__titles">
                  <h4 class="card-service__title">Rudolgi</h4>
                  <span class="card-service__sub-title">Проверка задолженности ФССП онлайн</span>
               </div>
               <p class="card-service__text">Онлайн-сервис с приятным интерфейсом и и возможностью быстро и удобно проверить любые виды задолженностей перед ФССП. На сайте имеются толкования необходимых законов, связанных с теми или иными задолженностями.</p>
               <a href="#" class="card-service__button button">
                  <span>Перейти на сайт</span>
               </a>
            </div>
         </li>
         <li class="services__item">
            <div class="card-service">
               <div class="card-service__logo">
                  <img src="assets/img/icon_4.png" alt="fssp.online-logo">
               </div>
               <div class="card-service__titles">
                  <h4 class="card-service__title">Fssp.online</h4>
                  <span class="card-service__sub-title">Проверка задолженности в судебном реестре</span>
               </div>
               <p class="card-service__text">Онлайн-сервис с приятным интерфейсом и и возможностью быстро и удобно проверить любые виды задолженностей перед ФССП. На сайте имеются толкования необходимых законов, связанных с теми или иными задолженностями.</p>
               <a href="#" class="card-service__button button">
                  <span>Перейти на сайт</span>
               </a>
            </div>
         </li>
         <li class="services__item">
            <div class="card-service">
               <div class="card-service__logo">
                  <img src="assets/img/icon_5.png" alt="Oplatagosuslug-logo">
               </div>
               <div class="card-service__titles">
                  <h4 class="card-service__title">Oplatagosuslug</h4>
                  <span class="card-service__sub-title">Проверка и оплата задолженностей</span>
               </div>
               <p class="card-service__text">Удобный сервис и одноимённые приложения для смартфонов, которые отличаются минималистичным интерфейсом. Помимо информации об изменении статуса, показывают прогнозируемую дату доставки, основываясь на статистике за последние два месяца.</p>
               <a href="#" class="card-service__button button">
                  <span>Перейти на сайт</span>
               </a>
            </div>
         </li>
         <li class="services__item">
            <div class="card-service">
               <div class="card-service__logo">
                  <img src="assets/img/icon_6.png" alt="Fsspru-logo">
               </div>
               <div class="card-service__titles">
                  <h4 class="card-service__title">Fsspru</h4>
                  <span class="card-service__sub-title">Поиск долгов по ФИО и номеру ИП</span>
               </div>
               <p class="card-service__text">Официальная проверка задолженностей по базе судебных приставов по фамилии, по исполнительному производству, исполнительному документу или юридическому лицу в режиме онлайн с возможностью оплаты задолженности.</p>
               <a href="#" class="card-service__button button">
                  <span>Перейти на сайт</span>
               </a>
            </div>
         </li>
         <li class="services__item">
            <div class="card-service">
               <div class="card-service__logo">
                  <img src="assets/img/icon_7.png" alt="Rosdolgi-logo">
               </div>
               <div class="card-service__titles">
                  <h4 class="card-service__title">Rosdolgi</h4>
                  <span class="card-service__sub-title">Узнать задолженность по фамилии</span>
               </div>
               <p class="card-service__text">Чтобы узнать свою задолженность по фамилии, выполните проверку по базе ФССП через официальный сервис РосДолги. Проверка долгов проводится по физ. лицам или юрлицам. Судебные приставы публикуют в открытом доступе информацию задолженностях.</p>
               <a href="#" class="card-service__button button">
                  <span>Перейти на сайт</span>
               </a>
            </div>
         </li>
      </ul>
   </div>
</section>