{% macro list(items, nameList) %}
<ul class="{{ nameList }}">
  {% for item in items %}
  <li>
    <div>
      <div class="card-service__logo">
        <img src="{{ item.card.pathImg }}">
      </div>
      <div>
        <h4>{{ item.card.titles.title }}</h4>
        <span>{{ item.card.titles.subTitle }}</span>
      </div>
      <p>{{ item.card.description }}</p>
      <a href="#" class="button">
        <span>{{ item.card.button }}</span>
      </a>
  </li>
  {% endfor %}
</ul>
{% endmacro %}